/* styles.css */

.footer {
    background-color:#0e2423;
    color:#fff;
    margin:0 0 20px 0;
    padding: 20px;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    color:rgb(53, 10, 245);
  }
  .footer-p{
    margin-left:50px;
  }
  