
.top-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 300px 50px 100px;
    align-items: center;
}
.heading{
    color:#fff;
}
.search{
    margin-right:220px;
}
hr{
    margin-left:100px;
    margin-right:500px;
}